.navbar{
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 5vh;
    padding-inline: 5%;


}

ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    
}

li{
    margin: 0 15px;
}